.jumbotron {
    padding-top:6rem;
    background-color: #e2edff;

}

#projects{
    background-color: #e2edff;
}

/* body{
    height:4000px;
} */

section{
    padding-top:4rem;
}

footer{
    background-color: #0D6EFD;
    color:white;
}